services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fsr-protocol-editor
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    env_file:
      - .env.local
